*{
  margin: 0;
}
body{
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
p, button{
  color: bisque;
}
button{
  border: 2px solid rgb(47, 98, 104);
  border-radius: 5px;
  padding: 4px 12px;
}
button.dark-mode{
  background-color: #222;
  font-weight: bold;
  border: 2px solid rgb(209, 209, 29);
  border-radius: 5px;
  padding: 4px 12px;
}
button:hover{
  transition: 0.3s ease-in-out;
  background-color:rgb(47, 98, 104);
  color: #fff;
}
button.dark-mode:hover{
  transition: 0.3s ease-in-out;
  background-color: rgb(209, 209, 29);
  color: #000;
}

/* Default color */
.dark-light {
  background-color: #ccc; /* Default color */
  color: #000; /* Text color */
  font-weight: bold;
}

/* Alternate color */
.dark-light.dark-mode {
  background-color: #333; /* Alternate color */
  color: #fff; /* Text color */
  transition: .5s linear;
}